* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-weight: normal;
}


body {
  background-image: url('./path-to-your-background-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 40px;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu ul li {
  margin: 0 15px;
}

.navbar-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-menu ul li a:hover {
  color: #ccc;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px 50px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);  /* Semitransparente */
  z-index: 2;
}

.hero-content {
  max-width: 50%;
  z-index: 2;
}

.hero h1 {
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.hero .cta-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.hero .cta-button:hover {
  background-color: #0056b3;
}


.footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-size: 14px;
}


.loading {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.error-message {
  color: red;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}